.body-container-padre{
background-image: url(https://i.ibb.co/QQ2tJPv/fondo.jpg);
}

.Titulo{
text-align: center;
font-family: cursive;
}

.Navegador{
text-align: center;
background-color: #555555
padding: 10px;
}
  
.img_top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.header-container-padre {
    text-align: center;
    font-size: 0;
    width: 100%;
    background-color: #555555;
    color: whitesmoke;
}

.header-container-padre > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Historia{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

li{
    display: inline;
    padding-left: 45px;
    padding-right: 45px;
}
  
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

#Sign-in {
    color: thistle;
}

.body-container-info{
margin: 1rem;
display: inline-block;
align-content: center;
background-color: white;
justify-content: center;  
}

.Inicio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-image: url(https://image.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg);
}

.txt{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: sans-serif;
}

.img_ini{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    font-size: 21px;
    text-align: center;
    background-color: ivory;
}

.contenedor_img_ini{
    font-family: cursive;
    font-weight: bold;
}

.Publicidad{
    background-image: url(https://image.freepik.com/free-vector/white-elegant-texture-background_23-2148433720.jpg);
}

.Newsletter{
    background-image: url(https://image.freepik.com/free-vector/white-elegant-texture-background_23-2148433720.jpg);
}
  
  
.Newsletter >form p{
    color: lightcoral;
    margin-right: 18px;
}

.h3{
    color: lightslategray;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#boton {
    color: white;
    background-color: lightcoral;    
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.txt_bene_publi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}


.txt_frase_publi{
    display: grid;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.Beneficios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-content: center;
}

.frase_publi{
    text-align: center;
    align-content: center;
    background-image: url(https://image.freepik.com/free-vector/white-elegant-texture-background_23-2148433907.jpg);
}

.frases{
    display: grid;
    grid-template-rows: repeat(2,1fr);
  }
  
.frase{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-image: url(https://image.freepik.com/free-vector/white-elegant-texture-background_23-2148433907.jpg);
  }


.txt_publi_autor{
    font-size: 12px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.item_img{
    margin-top: 0px;
    display: inline-block;
    align-items: center;
}

.videos{
    align-items: center;
    background-image: url(https://static.websguru.com.ar/var/m_9/9d/9d7/4414/1553988-sayagata-400px.png);
    
}
  
.videos > * {
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-weight: bold;
    justify-content: center;
}
  

.container_video_padre{ 
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
}

.item_video{
display: flex;
flex-direction: column;
align-items: center;
}    

.contenedor_video{
font-family: sans-serif;
text-align: center;
font-weight: bold;
}

.contenedor_video img{
width: 120px;
margin-top: 10px;
}

.footer-container-padre{
background-color: #555555
text-align: center;
color: white;
padding: 10px;
}
